In [1]:
import pandas as pd
import numpy as np

In [31]:
name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]

df = pd.DataFrame({
    "name": ["An", "Bình", "Cường", "Duyên"],
    "age": [18, 22, 19, 25],
    "score": [8.5, 7.0, 6.5, 8.5]
})

In [5]:
# Bài 1:
numList = [1, 2, 3, 4, 5]

series = pd.Series(numList)
print("Series:\n", series)

dataFrame = pd.DataFrame({'Name': name, 'Score': score})
print("\nDataFrame info:\n", dataFrame.info())
print("\nDataFrame describe:\n", dataFrame.describe())

Series:
 0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Score   4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 196.0+ bytes

DataFrame info:
 None

DataFrame describe:
           Score
count  4.000000
mean   7.750000
std    1.190238
min    6.500000
25%    6.875000
50%    7.750000
75%    8.625000
max    9.000000

In [ ]:
# Bài 2:
dataFrame = pd.DataFrame({'Name': name, 'Age': age, 'Score': score})
print("\nDataFrame filtered by loc[]:\n", dataFrame.loc[dataFrame['Score'] > 8.0])
print("\nDataFrame filtered by iloc[]:\nage\n", dataFrame.iloc[0:5, 2])
print("\nDataFrame filtered by query():\n", dataFrame.query('Age < 23 and Score > 7.0'))

DataFrame filtered by loc[]:
    Name  Age  Score
0    An   20    8.5
3  Dũng   20    9.0

DataFrame filtered by iloc[]:
age
 0    8.5
1    7.0
2    6.5
3    9.0
Name: Score, dtype: float64

DataFrame filtered by query():
    Name  Age  Score
0    An   20    8.5
3  Dũng   20    9.0

In [21]:
# Bài 3:
name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, None, 22, 20]
score = [8.5, None, 6.5, 9.0]

dataFrame = pd.DataFrame({'Name': name, 'Age': age, 'Score': score})
print("Dữ liệu thiếu kiểm tra bằng isna():\n", dataFrame.isna())
print("\nDataFrame sau khi thay thế NaN bằng fillna():\n", dataFrame.fillna({'Age': dataFrame['Age'].mean(), 'Score': dataFrame['Score'].mean()}))
print("\nDataFrame sau khi loại bỏ NaN bằng dropna():\n", dataFrame.dropna())

Dữ liệu thiếu kiểm tra bằng isna():
     Name    Age  Score
0  False  False  False
1  False   True   True
2  False  False  False
3  False  False  False

DataFrame sau khi thay thế NaN bằng fillna():
    Name        Age  Score
0    An  20.000000    8.5
1  Bình  20.666667    8.0
2  Châu  22.000000    6.5
3  Dũng  20.000000    9.0

DataFrame sau khi loại bỏ NaN bằng dropna():
    Name   Age  Score
0    An  20.0    8.5
2  Châu  22.0    6.5
3  Dũng  20.0    9.0

In [ ]:
# Bài 4:
df["age_group"] = df["age"].apply(lambda x: "Young" if x <= 20 else "Adult")
print("DataFrame sau khi áp dung apply():\n", df)

score_map = {
    8.5: "Excellent",
    7.0: "Good",
    6.5: "Average"
}
df["score"] = df["score"].map(score_map)
print("\nDataFrame sau khi map():\n", df)


df["score_int"] = [8.5, 7.0, 6.5, 8.5]
df["score_int"] = df["score_int"].astype(int)
print("\nDataFrame sau khi astype():\n", df)

df["name"] = df["name"].replace("Bình", "Bình (Updated)")

print("\nDataFrame sau khi replace():")
print(df)

DataFrame sau khi áp dung apply():
     name  age  score age_group
0     An   18    8.5     Young
1   Bình   22    7.0     Adult
2  Cường   19    6.5     Young
3  Duyên   25    8.5     Adult

DataFrame sau khi map():
     name  age      score age_group
0     An   18  Excellent     Young
1   Bình   22       Good     Adult
2  Cường   19    Average     Young
3  Duyên   25  Excellent     Adult

DataFrame sau khi astype():
     name  age      score age_group  score_int
0     An   18  Excellent     Young          8
1   Bình   22       Good     Adult          7
2  Cường   19    Average     Young          6
3  Duyên   25  Excellent     Adult          8

DataFrame sau khi replace():
             name  age      score age_group  score_int
0              An   18  Excellent     Young          8
1  Bình (Updated)   22       Good     Adult          7
2           Cường   19    Average     Young          6
3           Duyên   25  Excellent     Adult          8

In [40]:
# Bài 5:
print("\nDataFrame sau khi groupby() và agg():\n", dataFrame.groupby('Age').agg({'Score': ['mean', 'max', 'min']}))

DataFrame sau khi groupby() và agg():
     Score
     mean  max  min
Age
20   8.75  9.0  8.5
21   7.00  7.0  7.0
22   6.50  6.5  6.5

In [41]:
# Bài 6:
df1 = pd.DataFrame({'id': [1, 2, 3], 'name': ['An', 'Bình', 'Châu']})
df2 = pd.DataFrame({'id': [1, 2, 3], 'score': [8.5, 7.0, 6.5]})

print("\nDataFrame sau khi merge():\n", pd.merge(df1, df2, on='id'))
print("\nDataFrame sau khi concat():\n", pd.concat([df1, df2], axis=1))

DataFrame sau khi merge():
    id  name  score
0   1    An    8.5
1   2  Bình    7.0
2   3  Châu    6.5

DataFrame sau khi concat():
    id  name  id  score
0   1    An   1    8.5
1   2  Bình   2    7.0
2   3  Châu   3    6.5

In [44]:
# Bài 7:
date = ['2023-01-01', '2023-02-01', '2023-03-01']
name = ['An', 'Bình', 'Châu']

dataFrame = pd.DataFrame({'Date': pd.to_datetime(date), 'Name': name})
print("Date converted to datetime:\n", dataFrame)
print("\nExtracted Year:\n", dataFrame['Date'].dt.year)
print("\nCategory type for name:\n", dataFrame['Name'].astype('category'))

Date converted to datetime:
         Date  Name
0 2023-01-01    An
1 2023-02-01  Bình
2 2023-03-01  Châu

Extracted Year:
 0    2023
1    2023
2    2023
Name: Date, dtype: int32

Category type for name:
 0      An
1    Bình
2    Châu
Name: Name, dtype: category
Categories (3, object): ['An', 'Bình', 'Châu']

In [ ]:
# Bài 8:
import json
import pandas as pd
from pathlib import Path

# Thư mục chứa file log
log_folder = Path("logs")

data = []

# 1. Duyệt tất cả các file JSON trong thư mục logs/
for file in log_folder.glob("log_*.json"):
    # Lấy ngày từ tên file: log_2025-01-01.json -> 2025-01-01
    date_str = file.stem.split("_")[1]
    
    # Đọc nội dung JSON
    with open(file, "r", encoding="utf-8") as f:
        log_data = json.load(f)

    # Lưu vào danh sách
    data.append({
        "date": pd.to_datetime(date_str),
        "user": log_data["user"],
        "action": log_data["action"],
        "duration": log_data["duration"]
    })

# 2. Chuyển sang DataFrame
df = pd.DataFrame(data)

# 3. Tính tổng duration theo ngày
report = df.groupby("date")["duration"].sum().reset_index()

# 4. Xuất ra file CSV
report.to_csv("report.csv", index=False)

=== Báo cáo tổng duration theo ngày ===
        date  duration
0 2025-01-01         5
1 2025-01-02         3